<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Homepage</title>
</head>
<body>
	<h1>Welcome</h1>

  <div>
      {% if context.error %}
        <p>An error occured: {{ context.error }}</p>
      {% elif context.products %}
          {% if 'email' in session%}
            <p>Hello, {{session['email']}}</p>
          {% else %}
            <p> Not signed in</p>
          {% endif %}
          {% for product in context.products %}
            <div class="product" style="padding:0.5rem; display: flex; justify-content: space-between; align-items: center;max-width:20rem">
              <div>
                  <p>{{ product[1] }}</p>
                  <p>${{ product[2] }}</p> 
              </div>
              <div>
                  <buttton>Purchase</buttton>
              </div>
            </div>
          {% endfor %}
      {% else %}
        <p> No products available </p>
      {% endif %}
  </div>
</body>
</html>